%header{:class => 'white'}
  %img{:src => 'images/swim-logo.png', :style => 'max-width: 200px'}
.container
  .row
    .col-md-8
      %textarea{:class => 'main-textarea form-control', :placeholder => 'Type things you want to search for {in brackets like this}'}
    .col-md-4.reference-results

%script{:id => 'template-result', :type => "text/x-handlebars-template"}
  = File.read "views/templates/result.html"

