body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'source-code-pro', Consolas, monaco, monospace;
  font-size: 1.5rem;
}
header {
  border-bottom: 2px solid #47a6e6;
  margin-bottom: 25px;
  padding: 0px 10px;
}
.main-textarea.form-control, .main-textarea.form-control:focus {
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  height: 80%;
  outline: none;
  padding: 12px 15px;
}
.white, .reference {
  background-color: white;
}
.yellow, .reference:not(.images):hover {
  background-color: #fcf8e3;
}
.dark-grey, {
  background-color: rgba(0, 0, 0, 0.1);
}
.reference, .reference-subhead {
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
}
.reference-subhead {
  font-size: 1.4rem;
  font-weight: bold;
}
.reference-subhead:not(:first-child) {
  border-top: 2px solid #ccc;
  margin-top: 10px;
  padding-top: 12px;
}
.reference .head {
  font-weight: bold;
}
.reference-results {
  max-height: 80%;
  overflow: scroll;
}
.reference img {
  padding: 2px;
  max-height: 50px;
}
.reference p {
  margin: 0;
  padding-bottom: 10px;
}
.reference-menu {
  margin: 0px -10px -10px;
  padding: 5px;
  text-align: center;
}
.reference:not(.images):hover .reference-menu {
  background-color: #d9edf7;
  color: black;
}
.reference:not(.images):hover .reference-menu a {
  color: #404040;
}
.reference-menu a {
  color: #e9e9e9;
  padding: 0 5px;
  text-decoration: none;
}
.reference-menu a:hover .link-text {
  border-bottom: 1px solid black;
}
.reference-menu .glyphicon {
  top: 2px;
}
